<div class="bg-dark"></div>

<div class="home-information">
	<h1 class="slogan">アカウント連携でより便利に</h1>
	<%= link_to "#", class: "btn btn-social btn-lg btn-facebook btn-login" do %>
		<i class="fab fa-facebook-square"></i> Facebookでログイン
	<% end %>
	<br /><br />
	<%= link_to "#", class: "btn btn-social btn-lg btn-twitter btn-login" do %>
		<i class="fab fa-twitter-square"></i>Twitterでログイン
	<% end %>
	<br /><br />
	<%= link_to "#", class: "btn btn-social btn-lg btn-google btn-login" do %>
		<i class="fab fa-google-plus-square"></i> Google+でログイン
	<% end %>
	<br /><br />
	<%= link_to new_user_session_path, class: "btn btn-social btn-lg btn-foursquare btn-login" do %>
		<i class="fab fa-app-store-ios"></i>巡り愛でログイン
	<% end %>
	<br /><br />
</div>




<script type="text/javascript">

jQuery(function($) {

	$.supersized({
		slide_interval   :   4000,
		transition       :   1,
		transition_speed : 700,
		slinde_links     : 'blank',

		slides           : [

			{image : 'http://si.wsj.net/public/resources/images/BN-KJ179_jkiss_G_20150918001753.jpg'},
			{image : 'http://www.vtmonline.vn/wp-content/uploads/2018/05/vtm-yeu-2352018-bus-2.jpg'},
			{image : 'http://www.didulich.net/Portals/0/NgoDiep2017/thang7/capdoi2.jpeg'},
			{image : 'http://img.v3.news.zdn.vn/w660/Uploaded/bpcgdbb2/2014_11_21/10505127_791177684267774_5388962078700872144_o.jpg'},

		]

	});


});

</script>
